.projects {
  background: #808080;
}

.projects__body {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.projects__card {
  width: 300px;
  background-color: #fff;
  border-radius: .5rem;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1rem;
  img {
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  &-body {
    padding: 2px 16px;

  }
}


