@import "../../../commonStyles/colorPalatte.scss";
@import "../../../commonStyles/breakPoints.scss";

.socials {
  font-size: 2.5rem;
  > a > svg {
    margin: 0.5rem;
    color: $grey-2;
    &:hover {
      color:$primary;
    }
  }
}

@media screen and (max-width: 960px) {
  .socials {
    margin-top: .5rem;
  }
}