@import "../../commonStyles/colorPalatte.scss";

.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  // background: linear-gradient(to bottom, black, transparent);
  > a {
    padding: 1rem;
    font-weight: 600;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    mix-blend-mode: difference;
    &:hover {
      color: $primary;
    }
  }
  .active {
    color: $primary;
  }
}
