@import "../../commonStyles/colorPalatte.scss";
@import "../../commonStyles/breakPoints.scss";

.resume {
  background: $white;
}

.resume__body {
  width: 96%;
  display: flex;
  max-width: 1020px;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid lightgrey;
  &:last-child {
    border: none;
  }
}

.resume__heading {
  width: 20%;
  display: flex;
  margin: 1rem;
  padding-top: 0.25rem;
  > h2 {
    font-weight: 600;
    text-transform: uppercase;
    > span {
      border-bottom: 3px solid $primary;
    }
  }
}
.resume__skills {
  width: 80%;
  margin: 1rem;
  > p {
    color: $grey-1;
    margin: 0.5rem 0;
    &:first-of-type {
      padding-top: 1.5rem;
    }
  }
}
.resume__desc {
  width: 80%;
  margin: 1rem;

  > h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }
  > p {
    color: $grey-1;
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: $mobileMaxWidth) {
  .resume__body {
    flex-direction: column;
    align-items: center;
  }
  .resume__heading {
    width:auto;
    margin:0;
  }
  .resume__skills {
    margin: 0;
  }
  .resume__desc {
    margin:0;
  }
}
