@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #1c2022;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}